body{
  font-family:  Arial, sans-serif;
}
.container{
  text-align: center;
  background: linear-gradient(pink, rgb(255, 0, 217));
}
.row{
  justify-content:space-between;
  margin: 0 150px 0 150px;
  display: flex;
}
.col-4{
  background: linear-gradient(pink, rgb(255, 0, 217));
  width: 120px;
  height: 70px;
  border-radius: 5px;
  color: #ffff;
}
.col-4 p{
  margin-top: 10px;
}
.text{
  width: 1200px;
  margin: 40px 150px 50px 150px;
  height: 150px;
  padding-left: 5px;
  border-radius: 5px;
  background: linear-gradient(pink, rgb(255, 0, 217));
  border-color: aquamarine;
}
.btn{
  border: none;
  background-color: rgb(155, 155, 216);
  border-radius: 5px;
  margin-left: 20px;
  height: 30px;
}